/* ============================
   ОБЩИЕ ПЕРЕМЕННЫЕ ДЛЯ ТЕМ
   ============================ */

/* Темная тема */
:root {
    --navbar-bg-dark: #333; /* Темный фон для панели */
    --navbar-text-dark: #fff; /* Белый текст для темной темы */
    --navbar-hover-dark: #555; /* Цвет фона при наведении для темной темы */
}

/* Светлая тема */
[data-theme="light"] {
    --navbar-bg-light: #f1f1f1; /* Светлый фон для панели */
    --navbar-text-light: #333; /* Темный текст для светлой темы */
    --navbar-hover-light: #ccc; /* Цвет фона при наведении для светлой темы */
}
